<<<<<<< HEAD
extends layout

block content
    canvas(id= "canvas", width='200', height='100', style='border:1px solid black;')
        | Canvas
    script(type= 'text/javascript').
        var c = document.getElementById("canvas").addEventListener("click", function(){
            alert("Hello World!");
            //TODO:  get photo
        });
  
=======
extends layout

block content
  .heading
    h1 Bob's nightmare
  div(ng-controller='IndexCtrl')
    canvas(drawing)
>>>>>>> e02eff7dd2920c78554f804881ab6cd6e6c9348c
