doctype html
html(ng-app='root')
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(href='//fonts.googleapis.com/css?family=Press+Start+2P', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    body
        block content
        script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js')
        script(src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous")
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/howler/1.1.29/howler.min.js')
        //Angular Files
        script(src='/js/root.js')
        script(src='/js/controllers/index.js')
        block script
